.container {
  padding-top: 75px;
}

.colgraphics {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  box-shadow: 0 0 18px #e0e0eb;
}

.colcolor1 {
  background-color: #ffcccc;
}

.colcolor2 {
  background-color: #fff;
}

.colcolor3 {
  background-color: #ffcccc;
}
.navbar {
  background-color: #ffffcc;
}

.glyphicon {
  font-size: 20px;
}

.row {
  margin: 0;
}

.slide {
  height: 280px;
  padding-bottom: 48px;
}

.third {
  background-color: #ccffff;
}
.btn {
  margin-bottom: 5px;
  margin-left: 5px;
}

.second {
  background-color: #cc99ff;
}

.col-lg-6 {
  padding-top: 10px;
}

.form-control {
  width: 200px;
  float:right;
}

@media (min-width: @screen-sm-min) {
span .glyphicon glyphicon-chevron-left {
    display: none;
  }
span .glyphicon glyphicon-chevron-right {
    display: none;
  }

}
p.text {
  line-height: 26px;
}
li.active {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
