.container {
  padding-top: 75px;
}

.colgraphics {
  width: 300px;
  height: 200px;
  padding: 10px;
}

.colcolor1 {
  background-color: #ffcccc;
}

.colcolor2 {
  background-color: #fff;
}

.colcolor3 {
  background-color: #ffcccc;
}
.navbar {
  background-color: #ffffcc;
}

.glyphicon {
  font-size: 20px;
}

.row {
  margin: 0;
}

.slide {
  height: 280px;
  padding-bottom: 48px;
}

.third {
  background-color: #ccffff;
}
.btn {
  margin-bottom: 5px;
  margin-left: 5px;
}

.second {
  background-color: #cc99ff;
}

.col-lg-6 {
  padding-top: 10px;
}
